{% extends 'core/basser.html' %}

{% block content %}
{% load static %}


    <div class="page sub-page">
        <div class="container">



            <h2>Documents</h2>
            <div class="text-block">
                <p><strong>Charter</strong></p>
                <p><img title="Statute of Joint Stock Company The State Export-Import Bank of Ukraine (March 2017 Edition)" src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="Statute of Joint Stock Company The State Export-Import Bank of Ukraine (March 2017 Edition)"
                        width="16" height="16" />&nbsp;<a class="icon_1" href="/html/ukreximbank-charter-eng-pdf/">Ukreximbank Charter</a><br /><br /></p>
                <p><strong>Registration</strong></p>
                <p><img title="Certificate of Registration" src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="Certificate of Registration" width="16" height="16" />&nbsp;<a class="icon_1" href="/html/831.pdf/">Certificate of Registration</a><br /><br /></p>
                <p><strong>License</strong></p>
                <p><img src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="" width="16" height="16" />&nbsp;<a class="icon_1" href="/html/ukreximbank-extract-state-register-nbu-engl.pdf">Banking Registry Extract</a><br /><br /> <img src="https://www.eximb.com/upload/images/icons/pdf_1.gif"
                        alt="" width="16" height="16" />&nbsp;<a class="icon_1" href="/html/ukreximbank-banking-license-en.pdf/">Banking License</a><br /><br /><br /></p>
            </div>



        </div>



    </div>


{% endblock content %}
