{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>FATCA</h2>
            <div class="text-block">
                <p>The Foreign Account Tax Compliance Act (FATCA) was signed into USA law in March 2010.</p>
                <p>On July 1, 2014, FATCA has come into effect, with implications for financial institutions operating within the USA, as well as abroad. FATCA expands the existing documentation, reporting, and withholding requirements related to USA taxpayers
                    investing outside the USA, in an effort to minimize USA tax evasion. New legislation encourages better tax compliance by preventing USA Persons from using non-USA financial organizations and foreign entities to avoid USA taxation on
                    their income and assets.</p>
                <p>On June 26, 2014, Ukraine reached an Agreement in substance with the United States on the terms of a Model 1 IGA and consented to be included on the Treasury and IRS List.</p>
                <p>In this respect, JSC Ukreximbank has registered on the IRS web-site to be in full compliance with the FATCA terms as reporting financial institution under Model 1 IGA and received Global Intermediary Identification Number (GIIN) 3WGK8Q.99999.SL.804,
                    which is also publicly available at the <a href="http://apps.irs.gov/app/fatcaFfiList/flu.jsf" target="_blank" rel="noopener">FATCA Foreign Financial Institution List Search and Download Tool</a>.</p>
                <p>JSC Ukreximbank filled in and signed the <a href="/html/form-w-8ben-e-ukreximbank-2023.pdf">Form W-8BEN-E</a> that reflects changes made by the Foreign Account Tax Compliance Act.</p>
                <p><strong>Other Related Links:</strong></p>
                <p>Internal Revenue Service: <a href="http://www.irs.gov/Businesses/Corporations/Foreign-Account-Tax-Compliance-Act-FATCA" target="_blank" rel="noopener">http://www.irs.gov/Businesses/Corporations/Foreign-Account-Tax-Compliance-Act-FATCA</a></p>
                <p>US Department of the Treasury: <a href="http://www.treasury.gov/resource-center/tax-policy/treaties/Pages/FATCA.aspx" target="_blank" rel="noopener">http://www.treasury.gov/resource-center/tax-policy/treaties/Pages/FATCA.aspx</a></p>
                <p>List of Agreements In Effect: <a href="http://www.treasury.gov/resource-center/tax-policy/treaties/Pages/FATCA-Archive.aspx" target="_blank" rel="noopener">http://www.treasury.gov/resource-center/tax-policy/treaties/Pages/FATCA-Archive.aspx</a></p>
            </div>



        </div>


        <div class="container">
            <div class="additional-info text-block">
                <p><img style="border-bottom: 1px solid #0B90C7; margin: 2 0 10 0;" src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="" width="100%" height="1" /><br /><img src="https://www.eximb.com/upload/images/icons/pdf_1.gif" width="16" height="16" />&nbsp;<a class="icon_1" href="/html/form-w-8ben-e-ukreximbank-2023.pdf">JSC Ukreximbank W-8BEN-E</a>                    (752 Kб)<br /><br /><br /><br /></p>

            </div>
        </div>


    </div>

{% endblock content %}
