{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>At a glance</h2>
            <div class="text-block">
                <table class="styled-table" style="width: 100%;" border="0" width="100%" cellspacing="0" cellpadding="10">
                    <tbody>
                        <tr>
                            <td><strong>Foundation Date:</strong></td>
                            <td>January 3, 1992</td>
                        </tr>
                        <tr>
                            <td><strong>Ownership Structure:</strong></td>
                            <td><a href="javascript:void">100% owned by the Cabinet of Ministers of Ukraine (the Government)</a></td>
                        </tr>
                        <tr>
                            <td><strong>Branches:</strong></td>
                            <td>
                                <p>22 Branches and 28 Subbranches as at 01.10.2023<br />2 Representative offices (London, New York)</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Customers:</strong></td>
                            <td>Over 37,000 corporate and about 680,000 individual customers as at 01.04.2023</td>
                        </tr>
                        <tr>
                            <td><strong>Employees:</strong></td>
                            <td>approx 2,700 as at 01.04.2023</td>
                        </tr>
                        <tr>
                            <td><strong>Auditor:</strong></td>
                            <td>Ernst &amp; Young Audit Services LLC</td>
                        </tr>
                        <tr>
                            <td><strong>Head Office:</strong></td>
                            <td>127 Antonovycha Street, Kyiv, Ukraine</td>
                        </tr>
                    </tbody>
                </table>
                <p>Joint Stock Company "The State Export-Import Bank of Ukraine":</p>
                <ul>
                    <li>is one of the <a href="javascript:void">major operators</a> in the Ukrainian banking market</li>
                    <li>services a considerable proportion of export and import activities effected by Ukrainian enterprises and enjoys unique experience in the Ukrainian market in various areas of export-import banking, including documentary business and
                        trade finance</li>
                    <li>acts as <a href="javascript:void">the sole financial agent</a> of the Government of Ukraine with respect to loans from foreign financial institutions, which are originated, borrowed or guaranteed
                        by Ukraine</li>
                    <li>is a partner of the World Bank under the largest <a href="javascript:void">Export Development Project in Ukraine</a>, a partner of the European Bank for Reconstruction and Development (the
                        EBRD) under the EBRD <a href="javascript:void">Trade Facilitation Programme</a> and the EBRD Energy Efficiency Programme, a partner of Kreditanstalt fur Wiederaufbau (the KfW) under
                        <a
                            href="javascript:void">Small and Medium Enterprises Program</a>
                    </li>
                    <li>has the widest amidst Ukrainian banks foreign network of correspondents and long-standing reliable partners world-wide</li>
                    <li>is favoured with credit lines from global financial institutions for short-term documentary and <a href="javascript:void">trade finance transactions</a> and is the only Ukrainian bank recognised
                        by 36 primary <a href="javascript:void">Export Credit Agencies</a> as a direct borrower/guarantor on medium and long term financing;</li>
                    <li>has a well developed <a href="javascript:void">branch network</a>, which embraces all main regions and industrial centres of Ukraine</li>
                </ul>
            </div>



        </div>



    </div>

{% endblock content %}
