{% extends 'core/basser.html' %}

{% block content %}
{% load static %}


    <div class="page sub-page">
        <div class="container">



            <h2>Mr. Sergii IERMAKOV — Chairman of the Management Board</h2>
            <div class="text-block">
                <p><img class="img-responsive" style="margin: 0px 20px 20px 0px;" src="https://www.eximb.com/assets/images/members/ermakov-sergij-oleksandrovych-350x500_v4.jpg" width="350" height="500" align="left" border="0" hspace="10" /></p>
                <p><strong>Mr. Sergii IERMAKOV,</strong><br />Chairman of the Management Board</p>
                <p>Appointed by the Supervisory Board on April 01, 2020.</p>
                <p>According to the decision of the Supervisory Board of JSC Ukreximbank, appointed Chairman of the Management Board starting from March 14, 2022.</p>
                <p>Born in 1981.</p>
                <p><strong>Professional experience:</strong> started his career in banking in 2001 in Ukrainian Innovation Bank (UkrInBank). From 2002 to 2006 was in retail business in JSC ALFA-BANK and JSC Vneshtorgbank (Ukraine). Since 2006 has held a
                    number of management positions in JSC ALFA-BANK, including as a head of division, head of Planning and Financial Analysis Department, Deputy CFO, Strategy Director and Vice President. From 2016 to 2017 was CFO, a member of the Management
                    Board of JSC Ukrsotsbank. In 2017 became advisor to the JSC TAS Group Head of the Board of Directors then Deputy Head of the JSC TASCOMBANK Management Board. Since 2020 is a member of the Management Board of JSC Ukreximbank.</p>
                <p><strong>Education:</strong> Mr. Iermakov holds an MBA from IMD Business School in Switzerland and is a graduate of the National Agrarian University with a master&rsquo;s degree in finance with distinction.</p>
                <p><strong>Responsibilities:</strong> as Chairman of the Management Board of JSC Ukreximbank provides general management of the Bank and coordinates activity of the Management Board.</p>
            </div>



        </div>



    </div>

    

    <div style="padding-bottom: 2px;" class="page sub-page">
        <div class="container">



            <h2>Mr. Dmytro KAPLYUK — Member of the Management Board, Chief Risk Officer</h2>
            <div class="text-block">
                <p><img class="img-responsive" style="margin: 0px 20px 20px 0px;" src="https://www.eximb.com/assets/images/members/kaplyuk-dmytro-evgenijovych-350x500_v3.jpg" width="350" height="500" align="left" border="0" hspace="10" /></p>
                <p><strong>Mr. Dmytro KAPLIUK,</strong><br />Member of the Management Board, Chief Risk Officer</p>
                <p>Appointed by the Supervisory Board on April 09, 2020.</p>
                <p>Born in 1980.</p>
                <p><strong>Professional experience:</strong> since 2005, held senior positions in risk management with various banks in Ukraine, including as a head of JSC VTB Bank Credit Risk Control Department and a head of JSC UKRGASBANK Risk Management
                    Directorate. In 2019 became a member of the Supervisory Board of JSC Ukreximbank as a representative of the State (of the Financial Policy and Banking Committee of the Verkhovna Rada of Ukraine). Since 2020 is a member of the Management
                    Board of JSC Ukreximbank.</p>
                <p><strong>Education:</strong> Mr. KAPLIUK is a graduate of Vadym Hetman Kyiv National Economic University with a master&rsquo;s degree in finance.</p>
                <p><strong>Responsibilities:&nbsp;</strong>as a Member of the Management Board and Chief Risk Officer of JSC Ukreximbank is responsible for risk management.</p>
            </div>



        </div>



    </div>



    <div  style="padding-bottom: 2px;" class="page sub-page">
        <div class="container">



            <h2>Mr. Mykhailo MEDKO — Member of the Management Board</h2>
            <div class="text-block">
                <p><img class="img-responsive" style="margin: 0px 20px 20px 0px;" src="https://www.eximb.com/assets/images/members/medko-350x500-2.jpg" alt="photo" width="350" height="500" align="left" border="0" hspace="10" /></p>
                <p><strong>Mr. Mykhailo MEDKO,</strong><br />Member of the Management Board</p>
                <p>Appointed by the Supervisory Board on June 19, 2021.</p>
                <p>Born in 1981.</p>
                <p><strong>Professional experience:</strong> In 2001&ndash;2006, worked as an economist, Deputy Head of the Retail Customer Service Office of the JSC Ukreximbank Lviv Branch. In 2006, was reassigned to the JSC Ukreximbank Head Office to head
                    the Direct Sales Office of the Retail Business Channels Division. During 2009&ndash;2013 was Deputy Head of JSC Ukreximbank Lutsk Branch. In 2013-2015, headed the Office for Organizing the Sale of Products to SME Customers of the Bank's
                    Branches, Small and Medium Business Division of JSC Ukreximbank. From 2015 to 2020 has held positions of Deputy Head, Head of Small and Medium Business Department of JSB UKRGASBANK. In 2020-2021 was the Advisor to the Chairman of the
                    Management Board of JSC Ukreximbank. Since June, 2021, is a member of the Management Board of JSC Ukreximbank.</p>
                <p><strong>Education:</strong> Mr.Medko is a graduate of the Lviv Banking Institute of the National Bank of Ukraine, a holder of the diploma with honours in Banking.</p>
                <p><strong>Responsibilities:</strong> as a Member of the Management Board of JSC Ukreximbank is responsible for medium-sized business banking and retail banking.</p>
            </div>



        </div>



    </div>


    <div class="page sub-page">
        <div class="container">



            <h2>Mr. Oleksandr Shchur — Member of the Management Board</h2>
            <div class="text-block">
                <p><img class="img-responsive" style="margin: 0px 20px 20px 0px;" src="https://www.eximb.com/assets/images/members/01-04-2019-members_6.jpg" width="350" height="500" align="left" border="0" hspace="10" /></p>
                <p><strong>Mr. Oleksandr SHCHUR,</strong><br />Member of the Management Board</p>
                <p>Appointed by the Supervisory Board on February 1, 2013.</p>
                <p>Born in 1978.</p>
                <p><strong>Professional experience:</strong> in banking since 2000. Held various positions at JSC Ukreximbank, starting from an economist of International Loans Division. Since 2012 Head of International Borrowings Division.</p>
                <p><strong>Education:</strong> Kyiv National Economic University with specialization in International Economy; Kyiv State University named after T.G. Shevchenko with specialization in Legal Science.</p>
                <p><strong>Responsibilities:</strong> as JSC Ukreximbank Member of the Management Board, is responsible for international borrowings, IFI programs, co-operation with financial institutions and trade finance; co-ordinates activities of the
                    representative offices of the Bank.</p>
            </div>



        </div>



    </div>

    




{% endblock content %}
