{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>Organizational Structure</h2>
            <div class="text-block">
                <h3><strong>Compliance Control and AML</strong></h3>
                <p>Based on the open competitive selection, two responsible persons had been appointed by the Supervisory Board - Chief Compliance Officer (CCO) and Director of Financial Monitoring and Currency Supervision Department, MLRO, which are subordinated
                    to, controlled by and reporting to the Supervisory Board.</p>
                <p>Organizational structure of compliance:</p>
                <h4><strong>CCO supervises, coordinates and controls the activity of the following independent units:</strong></h4>
                <ol>
                    <li>Compliance Risk Control Division</li>
                </ol>
                <p>Responsible, among other, for:</p>
                <ul>
                    <li>development, implementation and support of an effective compliance risk management system in the Bank;</li>
                    <li>control over the Bank&rsquo;s compliance with requirements of Ukraine legislation, the Bank&rsquo;s regulatory documents and relevant standards of professional associations, the effect of which extends to the Bank;</li>
                    <li>control of compliance risk in the Bank&rsquo;s interactions with customers and counterparties, aimed at preventing the Bank&rsquo;s participation and/or involvement in illegal activities;</li>
                    <li>organization of personal data protection control;</li>
                    <li>management of risks related to the conflict of interest;</li>
                    <li>organization and support of the Bank's "Trust Line" (&ldquo;whistleblowing line&rdquo;).</li>
                </ul>
                <ol start="2">
                    <li>Internal Control System Coordination and Regulatory Compliance Division</li>
                </ol>
                <p>Responsible, among other, for the implementation of internal control methods in the Bank in accordance with international standards and best practices, including handling issues related to the cataloging of control procedures, processes,
                    resources used by the Bank to achieve internal control goals.</p>
                <h4><strong>MLRO heads, coordinates and controls the activity of Financial Monitoring and Currency Supervision Department, embracing the following structural units:</strong></h4>
                <ol>
                    <li>Financial Monitoring Division;</li>
                    <li>Currency Supervision Monitoring Division.</li>
                </ol>
                <p>Financial Monitoring and Currency Supervision Department is responsible, among other, for</p>
                <ul>
                    <li>effective interaction of the Bank with state authorities on financial monitoring and currency supervision;</li>
                    <li>control over the Bank's compliance with international requirements and sanctions regimes;</li>
                    <li>measures on customers&rsquo; due diligence and their financial activities, as well as enhanced due diligence on the risk-based approach;</li>
                    <li>being the second line of defense (control over the Bank's compliance with the requirements of the current legislation of Ukraine);</li>
                    <li>organization of the Bank's performance of the currency supervision agent&rsquo;s functions.</li>
                </ul>
                <h3>&nbsp;</h3>
                <h3><strong>Internal Audit Control</strong></h3>
                <p>The Bank&rsquo;s internal audit unit is the Internal Audit Division.</p>
                <p>The Internal Audit Division ensures that the Bank&rsquo;s policies conform to the effective law and regulations as well as to professional norms and ethics. The system of internal controls for which the Internal Audit Division is responsible
                    includes but is not limited to operations, accounting practices, taxation, regulatory compliance, documentary compliance, risk management and IT systems.</p>
                <p>The Internal Audit Division on the risk-based approach shall audit the compliance of the activities of Financial Monitoring and Currency Supervision Department and other units of the Bank as well as its regional branches with all legal
                    requirements in the field of prevention of legalization of proceeds from crime/financing of terrorism (including the adequacy of steps taken by the Bank in respect of managing the risks of legalization of proceeds from crime/financing
                    of terrorism) in accordance with the schedule approved.</p>
                <p>Based on such audit the Internal Audit Division shall issue its opinion and recommendations for the management of the Bank.</p>
                <p>The Internal Audit Division is subordinated to, controlled by and reports to the Supervisory Board of the JSC Ukreximbank.</p>
                <p>&nbsp;</p>
                <h3><strong>Regulatory Control</strong></h3>
                <p>In accordance with the effective Ukrainian Law, the National Bank of Ukraine (the NBU, the regulator) on regular basis inspects the Bank&rsquo;s compliance with the financial monitoring legislation and requirements.</p>
            </div>



        </div>





    </div>

{% endblock content %}
