{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>Recognitions</h2>
            <div class="text-block">
                <table class="table_1" border="0" width="100%" cellspacing="0" cellpadding="10">
                    <tbody>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2017</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><img src="{% static 'assets/images/deutsche-EUR-small.jpg' %}" alt="" width="104" height="80" /> <img src="{% static 'assets/images/deutsche-USD-small.jpg' %}" alt="" width="104" height="80" /></p>
                            </td>
                            <td style="width: 67.4473%;">Gold STP Excellence Awards from Deutsche Bank AG</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2016</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Visa_Gold_2016-big.gif' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Visa_Gold_2016-small.gif' %}" alt="" width="75" height="100" /></a></td>
                            <td style="width: 67.4473%;">Ukreximbank awarded by Visa International for Visa Gold premium card solutions</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2015</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Deutsche_Bank-2015-1280.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Deutsche_Bank-2015-small.jpg' %}" alt="" width="127" height="80" /></a> <{% static 'assets/images/Deutsche_Certificate-USD_2015-1280.jpg' %}"
                                    target="_blank" rel="noopener"><img src="{% static 'assets/images/Deutsche_Certificate-USD_2015-small.jpg' %}" alt="" width="105" height="80" /></a> <{% static 'assets/images/Deutsche_Certificate-Euro_2015-1280.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Deutsche_Certificate-Euro_2015-small.jpg' %}" alt="" width="105" height="80" /></a></td>
                            <td style="width: 67.4473%;">USD and Euro Gold STP Excellence Awards from Deutsche Bank AG</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Citi_2015-big.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Citi_2015-small.jpg' %}" alt="" width="108" height="100" /></a></td>
                            <td style="width: 67.4473%;">US Dollar Payments STP Excellence Award from Citibank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Wholesale-Corporate-Banking-Winner.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Wholesale-Corporate-Banking-Winner-small.jpg' %}" alt="" width="143" height="100" /></a></td>
                            <td style="width: 67.4473%;">Wholesale Corporate Banking Winner from Financial Club Company</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Commerz_2014-2.JPG' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Commerz_2014-2-small.jpg' %}" alt="" width="94" height="100" /></a></td>
                            <td style="width: 67.4473%;">Commerzbank STP Excellent Quality Award</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2014</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%"><{% static 'assets/images/Citi_2014-big.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/Citi_2014-small.jpg' %}" alt="" width="151" height="100" /></a></td>
                            <td style="width: 67.4473%;">Performance Excellence Award from Citibank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/4414.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4415.jpg' %}" alt="003-80.jpg' %}" width="131" height="80" border="0" /></a> <{% static 'assets/images/4412.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4416.jpg' %}" alt="002-80.jpg' %}" width="107" height="80" border="0" /></a>                                    <{% static 'assets/images/4410.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4417.jpg' %}" alt="001-80.jpg' %}" width="107" height="80" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Deutsche Bank USD and EUR STP Excellence Award</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/4342.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4341.jpg' %}" alt="recognitions" width="115" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">STP Award from Commerzbank AG</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2013</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/4136.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4135.jpg' %}" alt="citi_award_2013" width="117" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Performance Excellence Award from Citibank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/4050.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/4049.jpg' %}" alt="Commerzbank_2012_1_small.jpg' %}" width="115" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Commerzbank Excellent Quality Award</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/3927.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3928.jpg' %}" alt="small_nn_Page_3.jpg' %}" width="141" height="100" border="0" /></a> <{% static 'assets/images/3932.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3931.jpg' %}" alt="small_SEL_9449_040613.jpg' %}" width="98" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EBRD/ICC TFP Academic Excellence Award for achievements in Trade Finance e-Learning Programme</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;" width="40%">
                                <p><{% static 'assets/images/3904.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3912.jpg' %}" alt="Web_1_small_3.jpg' %}" width="96" height="80" border="0" /></a> <{% static 'assets/images/3906.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3910.jpg' %}" alt="Web_2_small_2.jpg' %}" width="106" height="80" border="0" /></a>                                    <{% static 'assets/images/3908.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3911.jpg' %}" alt="Web_3_small_2.jpg' %}" width="106" height="80" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">USD and EUR STP Excellence Award from Deutsche Bank</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2012</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/3562.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3567.jpg' %}" alt="1_small_2.jpg' %}" width="97" height="80" border="0" /></a><{% static 'assets/images/3564.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3568.jpg' %}" alt="2_small_2.jpg' %}" width="113" height="80" border="0" /></a>
                                    <a
                                        href="{% static 'assets/images/3566.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3569.jpg' %}" alt="3_small_3.jpg' %}" width="113" height="80" border="0" /></a>
                                </p>
                            </td>
                            <td style="width: 67.4473%;">STP Elite Quality Recognition Awards from J.P. Morgan</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/3573.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3572.jpg' %}" alt="Best-GTFP_-for-Pre-Export__small.jpg' %}" width="131" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Best GTFP Issuing Bank for Pre-Export Financing by IFC</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/3439.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3438.jpg' %}" alt="SEL_5682_01_100.jpg' %}" width="63" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EBRD Sustainable Energy Financing Facility Award</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/3363.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3362.jpg' %}" alt="0867_100.jpg' %}" width="89" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Ranked among 25 largest CEE banks by The Banker</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/3070.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/3069.jpg' %}" alt="Tombstone_100.jpg' %}" width="115" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Excellent Quality Award from Commerzbank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2804.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2803.jpg' %}" alt="Deutsche-Bank_2012_100.jpg' %}" width="134" height="100" border="0" /></a><{% static 'assets/images/3068.jpg' %}" target="_blank"
                                        rel="noopener"><img src="{% static 'assets/images/3067.jpg' %}" alt="Toumbstone_Deutschebank_100.jpg' %}" width="145" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EUR STP Award from Deutsche Bank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><img src="{% static 'assets/images/2663.jpg' %}" alt="euroweek_100.jpg' %}" width="267" height="100" border="0" /></p>
                            </td>
                            <td style="width: 67.4473%;">Deal of the Year in 2011</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2011</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2545.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2544.jpg' %}" alt="STP_JPMorgan_100.jpg' %}" width="137" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Quality Recognition Awards from J.P. Morgan</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2534.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2533.jpg' %}" alt="SEL_8162_1_small.jpg' %}" width="90" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Е&sup3; awards For Best Results in Implementation of Energy Efficiency Projects</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2520.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2519.jpg' %}" alt="USD_STP_1_small.jpg' %}" width="134" height="100" border="0" /></a> <{% static 'assets/images/2522.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2521.jpg' %}" alt="EUR_STP_1_small.jpg' %}" width="133" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EUR and USD STP Excellence Award from Deutsche Bank for the exceptional quality of payment messages</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><img src="{% static 'assets/images/2523.jpg' %}" alt="The_Banker_2_small.jpg' %}" width="113" height="100" border="0" /></p>
                            </td>
                            <td style="width: 67.4473%;">The Highest Mover by Capital Increase in CEE<br />Ranked No.1 in Ukraine in Top 1000 World Banks 2011</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2471.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2470.jpg' %}" alt="Bankir" width="85" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Unexceptionable reputation Award from the international specialized magazine <span style="margin-left: -0.3em;">&laquo;Bankir</span>&raquo;</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2227.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2226.jpg' %}" alt="EURO STP Excellent Quality Award from Commerzbank" width="89" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EURO STP Excellent Quality Award from Commerzbank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2010.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2009.jpg' %}" alt="Emeafinance-Award_100.jpg' %}" width="80" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Best Bank in Ukraine in 2010</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/2007.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/2006.jpg' %}" alt="LFE_1547_sm_na_sayt_small.jpg' %}" width="128" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Visa Int. Award for the Development of Programs for Premium Cardholders</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2010</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1407.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1406.jpg' %}" alt="Дод.3_small.jpg' %}" width="86" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The highest mover by capital increase in CEE by The Banker</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1409.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1408.jpg' %}" alt="Дод.1_small.jpg' %}" width="136" height="100" border="0" /></a> <{% static 'assets/images/1411.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1410.jpg' %}" alt="Дод.2_small.jpg' %}" width="136" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">EUR and USD STP Excellence Award from Deutsche Bank</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1385.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1384.jpg' %}" alt="3-copy_small_small.jpg' %}" width="103" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Most Active Factoring Bank in Ukraine in 2009</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1400.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1393.jpg' %}" alt="Best-Bank-Award_small.jpg' %}" width="80" height="100" border="0" /></a> <{% static 'assets/images/2594.jpg' %}" target="_blank"
                                        rel="noopener"><img src="{% static 'assets/images/2588.jpg' %}" alt="4_100.jpg' %}" width="99" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Best Bank in Ukraine in 2009</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1379.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1378.jpg' %}" alt="1_small.jpg' %}" width="69" height="100" border="0" /></a> <{% static 'assets/images/1381.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1380.jpg' %}" alt="2_small.jpg' %}" width="43" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">International Star for Leadership in Quality</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1398.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1397.jpg' %}" alt="Emeafinance-Achievement-Award-2009_small.jpg' %}" width="123" height="100" border="0" /></a> <{% static 'assets/images/2593.jpg' %}"
                                        target="_blank" rel="noopener"><img src="{% static 'assets/images/2591.jpg' %}" alt="6_100.jpg' %}" width="95" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Emeafinance Achievement Award 2009</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1311.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1310.jpg' %}" alt="Citibank_2008_2009_Certificate_small.jpg' %}" width="140" height="100" border="0" /></a> <{% static 'assets/images/1313.jpg' %}"
                                        target="_blank" rel="noopener"><img src="{% static 'assets/images/1312.jpg' %}" alt="Citibank_2008_2009_Award_small.jpg' %}" width="103" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Citibank USD payments Quality Recognition Award</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2009</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1305.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1304.jpg' %}" alt="JP_Morgan_2008_small.jpg' %}" width="130" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">JP Morgan STP Quality Recognition Award</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/1307.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/1309.jpg' %}" alt="Deutshe_Bank_2008_USD_small.jpg' %}" width="129" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Deutsche Bank AG USD settlements Excellence Award</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2008</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/444.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/440.jpg' %}" alt="DeutsherBank_USD_small_small.jpg' %}" width="134" height="100" border="0" /></a> <{% static 'assets/images/443.jpg' %}" target="_blank"
                                        rel="noopener"><img src="{% static 'assets/images/442.jpg' %}" alt="DeutscheBank-Award_small.jpg' %}" width="137" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Deutsche Bank AG USD and EUR settlements Excellence Award</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/457.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/456.jpg' %}" alt="Commerzbank_award_small.jpg' %}" width="71" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">STP Quality Certificate by Commerzbank AG</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/435.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/434.jpg' %}" alt="TFP_ for site_small.jpg' %}" width="162" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Best Export Finance Transaction Award under the EBRD Trade Facilitation Programme</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/455.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/454.jpg' %}" alt="Trade&amp;Forfaiting_small.jpg' %}" width="217" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Azovzagalmash Pre-export Financing <span style="margin-left: -0.3em;">&laquo;Deal</span> of the Year&raquo; by Trade &amp; Forfaiting Review</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2007</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/461.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/460.jpg' %}" alt="Standard&amp;Poors_rgb_small.jpg' %}" width="71" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The most transparent bank in Ukraine by Standard &amp; Poor&rsquo;s for the second consecutive year</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2006</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/468.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/467.jpg' %}" alt="Standard&amp;Poors_logo_small.jpg' %}" width="95" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The most transparent bank in Ukraine by Standard &amp; Poor&rsquo;s and Financial Initiatives Agency <span style="margin-left: -0.3em;">(Ukraine</span>)</td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/429.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/428.jpg' %}" alt="award_smll.jpg' %}" width="78" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The Best Emerging Market Bank 2006 in Ukraine by Global Finance Magazine <span style="margin-left: -0.3em;">(USA</span>)</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2005</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/431.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/430.jpg' %}" alt="Banker_statue_small.jpg' %}" width="63" height="100" border="0" /></a> <{% static 'assets/images/433.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/432.jpg' %}" alt="Banker_Sertificate_small.jpg' %}" width="71" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The Banker&rsquo;s Bank of the Year 2005 in Ukraine</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2004</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/445.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/446.jpg' %}" alt="diplom_1_small.jpg' %}" width="71" height="100" border="0" /></a> <{% static 'assets/images/448.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/447.jpg' %}" alt="diplom_1_1_small.jpg' %}" width="71" height="100" border="0" /></a>                                    <{% static 'assets/images/450.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/449.jpg' %}" alt="diplom_2_small.jpg' %}" width="71" height="100" border="0" /></a> <{% static 'assets/images/452.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/451.jpg' %}" alt="diplom_2_1_small.jpg' %}" width="71" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">3rd Annual Reports Award by the First Securities Trading System <span style="margin-left: -0.3em;">(</span> <span style="margin-left: -0.3em;">&laquo;PFTS</span>&raquo;), Securities and Stock Market State Committee and Ukrainian
                                Investment Newspaper <span style="margin-left: -0.3em;">(Investgazeta</span>) under USAID/FMI support</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2003</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/463.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/462.jpg' %}" alt="Nagrada_deutsche-2003_small.jpg' %}" width="149" height="100" border="0" /></a> <{% static 'assets/images/465.jpg' %}" target="_blank"
                                        rel="noopener"><img src="{% static 'assets/images/464.jpg' %}" alt="nagrada_deutsche_2-2003_small.jpg' %}" width="151" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Deutsche Bank AG USD and EUR settlements Excellence Award</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2001</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/420.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/419.jpg' %}" alt="JP_Morgan_2001_small.jpg' %}" width="74" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">JP Morgan Chase Quality Recognition Award among over 6,000 correspondents worldwide yearly conferred since 2001</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>2000</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/424.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/423.jpg' %}" alt="1001-2000_TheBanker_small.jpg' %}" width="299" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">Inclusion in the Banker&rsquo;s <span style="margin-left: -0.3em;">&laquo;The</span> 1001-2000 World Banks&raquo; Rating</td>
                        </tr>
                        <tr>
                            <td style="width: 99.9599%;" colspan="2">
                                <h3>1994</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 32.5126%;">
                                <p><{% static 'assets/images/422.jpg' %}" target="_blank" rel="noopener"><img src="{% static 'assets/images/421.jpg' %}" alt="euromoney_small.jpg' %}" width="280" height="100" border="0" /></a></p>
                            </td>
                            <td style="width: 67.4473%;">The best bank of the year in Ukraine by EUROMONEY</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>



    </div>

  {% endblock content %}
