{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>USA Patriot Act Certificate</h2>
            <div class="text-block">
                <p>Pursuant to the USA PATRIOT Act and final rules issued by the U.S. Department of the Treasury, a U.S. bank or a U.S. broker-dealer in securities (a &ldquo;Covered Financial Institution&rdquo;) is required to obtain certain information
                    from any &ldquo;Foreign Bank&rdquo; that maintains a correspondent account with it.</p>
                <p>As permitted by the final rules, Joint Stock Company The State Export-Import Bank of Ukraine (JSC Ukreximbank) has prepared a Global Certification Regarding Correspondent Accounts for Foreign Banks for use by any financial institution
                    that believes it requires a USA PATRIOT Act Certification from JSC Ukreximbank.</p>
            </div>



        </div>


        <div class="container">
            <div class="additional-info text-block">
                <p><img style="border-bottom: 1px solid #0B90C7; margin: 2 0 10 0;" src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="" width="100%" height="1" /><br /><a class="icon_1" href="assets/files/download/usa-patriot-act-certification.pdf"><img src="https://www.eximb.com/upload/images/icons/pdf_1.gif" alt="" width="16" height="16" /></a>&nbsp;
                    <a
                        class="icon_1" href="/html/usa-patriot-act-certificate.pdf/">Certification regarding correspondent accounts for foreign banks</a> (233 Кб)<br /><br /><br /><br /></p>

            </div>
        </div>


    </div>

{% endblock content %}
