{% extends 'core/basser.html' %}

{% block content %}
{% load static %}

    <div class="page sub-page">
        <div class="container">



            <h2>Wolfsberg Questionnaire</h2>
            <div class="text-block">
                <p>WOLFSBERG QUESTIONNAIRE has been designed by The Wolfsberg Group of global banks that aims to develop standards for Know Your Customer, Anti-Money Laundering and Counter Terrorist Policies.</p>
                <p>In compliance with the industry best practice and according to the Wolfsberg AML Principles for Correspondent Banking, Ukreximbank fulfils the Anti-Money Laundering Wolfsberg Questionnaire, including in its latest version, known as updated
                    CORRESPONDENT BANKING DUE DILIGENCE QUESTIONNAIRE (CBDDQ).</p>
                <p>The CBDDQ aims to set an enhanced and reasonable standard for cross-border and/or other higher risk Correspondent Banking Due Diligence as per the Wolfsberg definition and current FATF Guidance.</p>
                <p>The WOLFSBERG CBDDQ, duly filled in and signed by the JSC Ukreximbank authorized officers, is available for correspondent banks by request sent to <a href="/cdn-cgi/l/email-protection#9debedf2eefcf9eef6fcddf8e5f4f0ffb3fef2f0"><span class="__cf_email__" data-cfemail="b9cfc9d6cad8ddcad2d8f9dcc1d0d4db97dad6d4">[email&#160;protected]</span></a>.</p>
            </div>



        </div>



    </div>

{% endblock content %}
