#calc_result {}

#calc_result .table-scroll-wrap {
    margin-bottom: 26px;
}

#calc_result .digits {
    white-space: nowrap;
}

.social-media {
    float: left;
    margin-right: 15px;
}

/* 2020-10-31 */

.calc-section .form-item input[type="number"] {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0px 19px 0px 19px;
    margin: 0px;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    color: #000;
    background: #dbdbdb;
    box-shadow: none;
    font-size: 16px;
    line-height: 58px;
    font-family: "Exo 2", "Roboto", sans-serif;
    font-weight: 400;
    text-align: left;
    -webkit-appearance: none;
    outline: none;
}

.calc-section .form-bottom .submit {
    margin-top: 45px;
}

/* --------- */

.social-media-channel {
    display: inline-block;
    top: 0;
    left: 15px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: #ccc;
    font-size: 18px;
}

.social-media-channel:hover {
    background: #214696;
}

footer .hot-line {
    padding-left: 0;
}

footer .hot-line a {
    white-space: nowrap;
}

/* ------------- */

.vacancy-form .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.vacancy-form .inputfile+label {
    max-width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.vacancy-form .inputfile:focus+label,
.vacancy-form .inputfile.has-focus+label {
    outline: 1px dotted #dbdbdb;
    outline: -webkit-focus-ring-color auto 5px;
}

.vacancy-form .inputfile+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.vacancy-form .inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.vacancy-form .inputfile-2+label {
    color: #737373;
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb;
}

.vacancy-form .inputfile-2:focus+label,
.vacancy-form .inputfile-2.has-focus+label,
.vacancy-form .inputfile-2+label:hover {
    color: #000;
}

.vacancy-form .inputfile-2+label.error {
    color: #e95151;
    border: 1px solid #e95151;
    background-color: #dbdbdb;
}

/* ------------- */

footer .idgf a {
    opacity: 0.4;
}

footer .idgf a:hover {
    opacity: 1;
}

@media (max-width: 1199px) {
    .social-media {
        float: none !important;
        margin: 0 0 15px 0;
        text-align: center;
    }
}

@media (max-width: 500px) {
    footer .hot-line {
        text-align: center;
    }
}

/* added 2021-10-04 FAQ-accordion-styles */

.details {
    /* border: 1px solid #aaa; */
    border: none;
    padding: 1em 1em 0;
}

.details:hover {
    background-color: #efeef0;
}

.details[open] {
    border: 1px solid #aaa;
}

.details:active {
    border: none;
}

.summary {
    display: block;
    font-weight: bold;
    margin: -.5em -0.5em 0;
    padding: 0.5em 2em 0.5em 0.5em;
    position: relative;
    cursor: pointer;
}

.summary::-webkit-details-marker {
    display: none;
}

.summary:after {
    /*content: '\02795';*/
    box-sizing: border-box;
    content: '+';
    /*transform: rotate(-90deg);*/
    font-size: xx-large;
    font-weight: normal;
    font-family: inherit;
    position: absolute;
    right: 5px;
    margin-left: 5px;
}

.details[open] .summary:after {
    /*content: '\02796';*/
    box-sizing: border-box;
    content: '-';
    float: right;
    /*transform: rotate(90deg);*/
}

.summary:active {
    border: none;
}

/* end FAQ-accordion-styles */

/* added 2023-04-27 footnote-styles */

.footnote {
    font-size: 13px;
    font-style: italic;
}

/* end footnote-styles */