{% extends 'core/basser.html' %}

{% block content %}
{% load static %}


    <div class="page sub-page">
        <div class="container">



            <h2>Contacts</h2>
            <div class="text-block">
                <p>Joint Stock Company "The State Export-Import Bank of Ukraine"<br />127 Antonovycha Street<br />03150 Kyiv<br />Ukraine</p>
                <p>Tel.: +38 044 247 38 38<br />Fax: +38 044 845 80 82<br /><a href="javascript:void"><span class="__cf_email__" data-cfemail="563437383d16332e3f3b347835393b">support@ukrexims.org</span></a><br
                    />S.W.I.F.T.: EXBSUAUX<br />Reuters Dealing code: EXKI</p>
                <p><strong>International Business</strong><br /><a href="javascript:void"><span class="__cf_email__" data-cfemail="09606b496c7160646b276a6664">customer.channel@ukrexims.org</span></a></p>
                <p><strong>Financial Institutions</strong><br /><a href="javascript:void"><span class="__cf_email__" data-cfemail="7f19163f1a0716121d511c1012">support@ukrexims.org</span> </a></p>
                <p><strong>Investor Relations</strong><br /><a href="javascript:void"><span class="__cf_email__" data-cfemail="345d4674514c5d59561a575b59">support@ukrexims.org</span></a></p>
                <p>&nbsp;</p>
                <p><a name="lon"></a> <strong>London Representative Office</strong><br /><br />Mr. Oleg RZHONDKOVSKYI, Head</p>
                <p>Address: Cannon Place, 78 Cannon Street,<br />London EC4N 6HL, UNITED KINGDOM<br /><br />Tel.: +44 (20) 73427417<br />Fax: +44 (20) 70787545<br />E-mail: <a href="javascript:void"><span class="__cf_email__" data-cfemail="6a05182a0f1203070844090507">main@ukrexims.org</span></a></p>
                <p>&nbsp;</p>
                <p><a name="new"></a> <strong>New York Representative Office</strong><br /><br />Mr. Igor OBOZINTSEV, Head<br /><br />Address: 14 Wall Street, 20th Floor,<br />NEW YORK, NY 10005, USA<br /><br />Tel.: +1-212-311-1958<br />Mob.: +1-201-264-6703<br
                    /><a href="javascript:void"><span class="__cf_email__" data-cfemail="b0d9dfd2dfcaf0d5c8d9ddd29ed3dfdd">customer.channel@ukrexims.org</span></a></p>
            </div>



        </div>



    </div>

{% endblock content %}
